/lib/
/types/
/coverage/
/node_modules/

/.env*
/main.js
/vault.*
.DS_Store
/stats.html

/vault/.obsidian/plugins/*/main.js
/vault/.obsidian/plugins/*/styles.css
/vault/.obsidian/vault-stats.json
/vault/.obsidian/plugins/gladdis/.env
/vault/.obsidian/plugins/gladdis/data.json
